---
layout: default
belongs_to: /
---
.container.site-content
  .row-fluid
    .content-area
      %main#main.site-main{:role => "main"}
        %article#post-10.post-10.page.type-page.status-publish.hentry
          .entry-content
            #camera_wrap_4.camera_wrap.pattern_4.camera_emboss
              %div{"data-src" => "http://www.wowthemes.net/demo/biscaya/img/demo/slide2.jpg?1376983013570"}
                .camera_caption.fadeFromTop
                  %h1.fontregular MultiPurpose Responsive WordPress
                  %span Professional  modern website template created for you and your business prosperity. Build a top-notch business website in no time!
              %div{"data-src" => "http://www.wowthemes.net/demo/biscaya/img/demo/slide1.jpg?1376983012731"}
                .camera_caption.fadeFromRight
                  %h1.fontregular Professional Design  Elegant Code
                  %span Beautiful behind the scenes too! Biscaya Template comes with top notch customer support to help you get your business online fast.
            .text-center
              %img.slidershadowcam{:alt => "", :src => "http://www.wowthemes.net/demo-biscaya/wp-content/themes/biscaya/img/sha.png"}/
