---
layout: case
permalink: /cases/jxyt-howard-johnson.html
name: 江西鹰潭豪生酒店
images:
  - http://www.hotelsafe.cn/image/cases/jxyt-howard-johnson-01.jpg
types:
  - 1
---
%p Howard Johnson 豪生品牌由企业家豪生先生（Howard Dearing Johnson）在1925年创立，1939年发展到107家餐厅；1954年建立第一家豪生酒店；1961年上市，当时拥有88家汽车旅馆和605家餐厅；1990年被温德姆酒店集团收购；1993年形成豪生国际酒店集团；1998年创下一年新开75家酒店的记录。
%p 本案例是江西省鹰潭市豪生酒店。
