---
layout: case
permalink: /cases/jxyt-howard-johnson.html
name: 案例一
images:
  - http://www.hotelsafe.cn/image/case/jxyt-howard-johnson-01.jpg
  - http://stores.qnnimg.com/products/mq-2045zh-01.jpg
types:
  - 1
---
%p 文字
