---
layout: product
title: MB-2040ZH
permalink: /products/mb-2040zh.html
name: MB-2040ZH
image: http://www.hotelsafe.cn/images/products/mb-2040zh.jpg
---
%p 规格：(高)200×(宽)400×(深)300mm
%p 门厚：5mm
%p 箱体厚：2mm
%p 净重：13kg
