---
layout: default
belongs_to: about
permalink: /about/
---
.container.site-content
  .row-fluid
    .span12
      .content-area
        %main#main.site-main{role: "main"}
          %article#post-117.post-117.page.type-page.status-publish.hentry
            %header.entry-header.sectiontitlepost
              %h1.entry-title About
            .headerdivider
            .entry-content
              .row-fluid
                .span12
                  %p
                    %b Year
                    \: 2013 |
                    %b Client
                    \: John Doe |
                    %b Category
                    \: Shop Online
                    %br/
                    %b Contribution
                    \: Script & SEO |
                    %b Completion Time
                    \: 35 Days
                  %p
                    Raw denim you probably haven’t heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh.
                    %br/
                  %ul.checklist
                    %li Nesciunt tofu stumptown aliqua
                    %li Retro synth master
                    %li Mustache cliche tempor
                    %li Williamsburg carles vegan
                    %li Reprehenderit butcher retro
                    %li Butcher retro keffiyeh
