---
layout: default
belongs_to: cases
permalink: /cases/
title: 客户案例
---
.container
  #content
    {% for post in site.categories.cases reversed %}
    %div{class: "boxportfolio3{% for type in post.types %} type-{{ type }}{% endfor %}"}
      .boxcontainer
        %a{href: "{{ post.url }}"}
          %img{height: "400", src: "{{ post.images[0] }}", width: "400"}/
        %p {{ post.name }}
    {% endfor %}
