---
layout: default
belongs_to: contact
permalink: /contact/
title: 联系我们
---
.container.site-content
  .row-fluid
    .span12
      .content-area
        %main#main.site-main{role: "main"}
          %article#post-117.post-117.page.type-page.status-publish.hentry
            %header.entry-header.sectiontitlepost
              %h1.entry-title 联系我们
            .headerdivider
            .entry-content
              .row-fluid
                .span12
                  #allmap{ style: "width: 100%; max-width: 800px; margin: 0 auto; height: 400px; padding: 0 0 20px 0;" }
                    #map{ style: "height:100%;" }
                  %script{ src: "http://api.map.baidu.com/api?v=1.4" }
                  %script{ src: "http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.js" }
                  %link{ href: "http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.css" }
                  :javascript
                    var map=new BMap.Map("map"),poi=new BMap.Point(113.216673, 22.849068);map.centerAndZoom(poi,17);map.enableScrollWheelZoom();
                    map.addControl(new BMap.NavigationControl());
                    map.addControl(new BMap.ScaleControl());
                    var marker=new BMap.Marker(poi);
                    map.addOverlay(marker);
              .row-fluid
                .span12
                  .titleborder
                    %div 联系我们
                  %i.icon-map-marker{style: "font-size:userpx;"}
                  地址：广东安能保险柜制造有限公司全能保险柜酒店工程部
                  %div{style: "height: 10px"}
                  %i.icon-phone{style: "font-size:userpx;"}
                  联系电话：0757-22308189
                  %div{style: "height: 10px"}
                  %i.icon-envelope{style: "font-size:userpx;"}
                  E-mail：
                  %a{href: "mailto:78739868@qq.com"} 78739868@qq.com
