---
layout: default
belongs_to: products
permalink: /products/
title: 常规产品
---
.container
  .row-fluid
    .span12
      #filter
        %ul
          %li
            %a.selected{"data-filter" => "*", href: "#"} 全部
          %li
            %a{"data-filter" => ".type-jdkfbxx", href: "#"} 酒店客房保管箱
          %li
            %a{"data-filter" => ".type-jddtbxx", href: "#"} 酒店大堂保管箱

.container
  #content
    {% for post in site.categories.products reversed %}
    %div{class: "boxportfolio3{% for type in post.types %} type-{{ type }}{% endfor %}"}
      .boxcontainer
        %a{href: "{{ post.url }}"}
          %img{height: "400", src: "{{ post.image }}", width: "400"}/
        %p {{ post.name }}
    {% endfor %}
