!!!
/
  Generated on {{ site.time }}, using Jekyll, Haml, Sass, CoffeeScript.
  Source of this website can be found on https://github.com/qnn/hotelsafe.cn
%html.no-js
  %head
    %meta{ charset: "UTF-8" }
    %title {% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    {% stylesheet application %}
    {% javascript application %}
  %body.home.page.page-id-10.page-template.page-template-template-home-php.boxed.group-blog
    .body
      #page.hfeed.site
        %header#masthead.site-header{:role => "banner"}
          .container.clearfix
            .row-fluid
              .span12
                %h1.brandlogo
                  %a{:href => "http://www.wowthemes.net/demo-biscaya/", :rel => "home", :title => "Biscaya for Wordpress"}
                    %img{:alt => "Biscaya for Wordpress", :src => "http://www.wowthemes.net/demo-biscaya/wp-content/uploads/sites/8/2013/08/logo.png"}/
                .topinfo
                  %ul.social-icons.list-soc
                    %li
                      %a{:href => "#", :target => "_blank"}
                        %i.icon-facebook
                    %li
                      %a{:href => "#", :target => "_blank"}
                        %i.icon-twitter
                    %li
                      %a{:href => "#", :target => "_blank"}
                        %i.icon-google-plus
                    %li
                      %a{:href => "#", :target => "_blank"}
                        %i.icon-skype
                    %li
                      %a{:href => "http://www.wowthemes.net/demo-biscaya/feed/rss/"}
                        %i.icon-rss
                  .infophone
                    %i.icon-phone
                    TEL: +8 737 924 6035
                  .infoaddress
                    3953 BERKLEY STREET, FORT WASHINGTON, 19034
                .clearfix
                .row-nav.navbar
                  .navbar-inner
                    %ul#menu-header.nav
                      %li#menu-item-12.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-10.current_page_item.active.menu-item-12
                        %a{:href => "http://www.hotelsafe.cn/"} 首页
                      %li#menu-item-33.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-33
                        %a{:href => "http://www.wowthemes.net/demo-biscaya/about-us/"} 全能简介
                      %li#menu-item-33.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-33
                        %a{:href => "http://www.wowthemes.net/demo-biscaya/portfolio-list/"} 常规产品
                      %li#menu-item-33.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-33
                        %a{:href => "http://www.wowthemes.net/demo-biscaya/portfolio-list/"} 客户案例
                      %li#menu-item-33.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-33
                        %a{:href => "http://www.wowthemes.net/demo-biscaya/default-contact/"} 联系我们
        .menushadow
        {{ content }}
        %footer#colophon.site-footer{:role => "contentinfo"}
          .footer.footerdark
            .text-center.wraptotop
              %a.totop
                %i.icon-chevron-up
            .container
              .row-fluid
                .span4
                  %aside#text-4.widget.widget_text
                    %h1 About Us
                    %hr
                      .textwidget
                        %p Introducing a premium HTML5  CSS3 template for multipurpose use. Responsive layout, professional design  lots of features.
                        %p Made with love by WowThemes.net.
                        %p.footerlogo
                          Biscaya
                .span4
                  %aside#text-3.widget.widget_text
                    %h1 Testimonials
                    %hr
                      .textwidget
                        %p Introducing a premium HTML5  CSS3 template for multipurpose use. Responsive layout, professional design  lots of features.
                        %p Made with love by WowThemes.net.
                        %p.footerlogo
                          Biscaya
                .span4
                  %aside#text-5.widget.widget_text
                    %h1 Business Hours
                    %hr
                      .textwidget
                        %p Our support Hotline is available 24 Hours a day: (888) 252 389 3571
                        %ul
                          %li Monday - Friday: 	9am to 5pm
                          %li Saturday: 	10am to 2pm
                          %li Sunday: 	Closed
          .footerbottom.footerbottomdark
            .container
              .row-fluid
                .span4.smallspacetop
                  %p.smaller
                    %span.copyright
                    © 1999-2013 广东安能保险柜制造有限公司
                    %a{:href => "http://www.miitbeian.gov.cn/"} 粤ICP备12015444号-1
                    %a{:href => "http://www.hotelsafe.cn/Sitemap.xml"} Sitemap
                .span8.smallspacetop
                  .pull-right.smaller
                    %ul#menu-footer.footermenu
                      %li#menu-item-49.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-10.current_page_item.menu-item-49
                        %a{:href => "http://www.wowthemes.net/demo-biscaya/"} Home
                      %li#menu-item-247.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-247
                        %a{:href => "http://www.wowthemes.net/demo-biscaya/interface/"} Elements
                      %li#menu-item-48.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-48
                        %a{:href => "http://www.wowthemes.net/demo-biscaya/about-us/"} About Us
                      %li#menu-item-47.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-47
                        %a{:href => "http://www.wowthemes.net/demo-biscaya/services/"} Services
                      %li#menu-item-246.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-246
                        %a{:href => "http://www.wowthemes.net/demo-biscaya/default-contact/"} Contact
                  .clearfix
