!!!
/
  Generated on {{ site.time }}, using Jekyll, Haml, Sass, CoffeeScript.
  Source of this website can be found on https://github.com/qnn/hotelsafe.cn
%html.no-js
  %head
    %meta{ charset: "UTF-8" }
    %title {% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    {% stylesheet application %}
    {% javascript application %}
  %body.home.page.page-id-10.page-template.page-template-template-home-php.boxed.group-blog
    .body
      #page.hfeed.site
        %header#masthead.site-header{:role => "banner"}
          .container.clearfix
            .row-fluid
              .span12
                %h1.brandlogo
                  %a{:href => "http://www.wowthemes.net/demo-biscaya/", :rel => "home", :title => "Biscaya for Wordpress"}
                    %img{:alt => "Biscaya for Wordpress", :src => "http://www.wowthemes.net/demo-biscaya/wp-content/uploads/sites/8/2013/08/logo.png"}/
                .topinfo
                  %ul.social-icons.list-soc
                    %li
                      %a{:href => "#", :target => "_blank"}
                        %i.icon-facebook
                    %li
                      %a{:href => "#", :target => "_blank"}
                        %i.icon-twitter
                    %li
                      %a{:href => "#", :target => "_blank"}
                        %i.icon-google-plus
                    %li
                      %a{:href => "#", :target => "_blank"}
                        %i.icon-skype
                    %li
                      %a{:href => "http://www.wowthemes.net/demo-biscaya/feed/rss/"}
                        %i.icon-rss
                  .infophone
                    %i.icon-phone
                    TEL: +8 737 924 6035
                  .infoaddress
                    3953 BERKLEY STREET, FORT WASHINGTON, 19034
                .clearfix
                .row-nav.navbar
                  .navbar-inner
                    %ul#menu-header.nav
                      %li#menu-item-12.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-10.current_page_item.active.menu-item-12
                        %a{:href => "http://www.wowthemes.net/demo-biscaya/"} Home
                      %li#menu-item-13.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-13.dropdown
                        %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "#"}
                          Pages
                          %span.caret
                        %ul.dropdown-menu
                          %li#menu-item-20.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-20
                            %a{:href => "http://www.wowthemes.net/demo-biscaya/about-us/"} About Us
                          %li#menu-item-19.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-19
                            %a{:href => "http://www.wowthemes.net/demo-biscaya/services/"} Services
                          %li#menu-item-40.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-40
                            %a{:href => "http://www.wowthemes.net/demo-biscaya/knowledge-base/"} Knowledge Base
                          %li#menu-item-60.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-60
                            %a{:href => "http://www.wowthemes.net/demo-biscaya/testimonials/"} Testimonials
                          %li#menu-item-39.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-39
                            %a{:href => "http://www.wowthemes.net/demo-biscaya/page-with-sidebar/"} Page with Sidebar
                      %li#menu-item-27.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-27.dropdown
                        %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "#"}
                          Elements
                          %span.caret
                        %ul.dropdown-menu
                          %li#menu-item-202.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-202
                            %a{:href => "http://www.wowthemes.net/demo-biscaya/interface/"} Interface
                          %li#menu-item-234.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-234
                            %a{:href => "http://www.wowthemes.net/demo-biscaya/buttons/"} Buttons
                          %li#menu-item-223.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-223
                            %a{:href => "http://www.wowthemes.net/demo-biscaya/boxes/"} Boxes
                          %li#menu-item-226.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-226
                            %a{:href => "http://www.wowthemes.net/demo-biscaya/lists/"} Lists
                          %li#menu-item-272.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-272
                            %a{:href => "http://www.wowthemes.net/demo-biscaya/icons/"} Icons
                          %li#menu-item-231.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-231
                            %a{:href => "http://www.wowthemes.net/demo-biscaya/sliders/"} Sliders
                          %li#menu-item-261.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-261
                            %a{:href => "http://www.wowthemes.net/demo-biscaya/pricing-boxes/"} Pricing Boxes
                      %li#menu-item-33.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-33
                        %a{:href => "http://www.wowthemes.net/demo-biscaya/columns/"} Columns
                      %li#menu-item-29.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-29.dropdown
                        %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "#"}
                          Portfolio
                          %span.caret
                        %ul.dropdown-menu
                          %li#menu-item-192.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-192
                            %a{:href => "http://www.wowthemes.net/demo-biscaya/portfolio-list/"} Portfolio List
                          %li#menu-item-197.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-197
                            %a{:href => "http://www.wowthemes.net/demo-biscaya/ourportfolio/biscaya/"} Single Project
                      %li#menu-item-26.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-26.dropdown
                        %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "#"}
                          Blog
                          %span.caret
                        %ul.dropdown-menu
                          %li#menu-item-43.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-43
                            %a{:href => "http://www.wowthemes.net/demo-biscaya/blog-home/"} Blog Home
                          %li#menu-item-112.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-112
                            %a{:href => "http://www.wowthemes.net/demo-biscaya/84/"} Single Post
                          %li#menu-item-110.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-110
                            %a{:href => "http://www.wowthemes.net/demo-biscaya/category/science/"} Archive
                          %li#menu-item-113.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-113
                            %a{:href => "http://www.wowthemes.net/demo-biscaya/?s=space"} Search Results
                      %li#menu-item-30.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-30.dropdown
                        %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "#"}
                          Contact
                          %span.caret
                        %ul.dropdown-menu
                          %li#menu-item-120.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-120
                            %a{:href => "http://www.wowthemes.net/demo-biscaya/default-contact/"} Default Contact
                          %li#menu-item-123.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-123
                            %a{:href => "http://www.wowthemes.net/demo-biscaya/basic-contact/"} Basic Contact
                          %li#menu-item-127.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-127
                            %a{:href => "http://www.wowthemes.net/demo-biscaya/no-map-contact/"} Contact Us
                    %form#search{:action => "http://www.wowthemes.net/demo-biscaya/", :method => "get", :role => "search"}
                      %input.search-field{:name => "s", :placeholder => "Enter search keywords here ", :title => "Search for:", :type => "search", :value => ""}
                        %input.search-submit{:type => "submit", :value => ""}
        .menushadow
        {{ content }}
        %footer#colophon.site-footer{:role => "contentinfo"}
          .footer.footerdark
            .text-center.wraptotop
              %a.totop
                %i.icon-chevron-up
            .container
              .row-fluid
                .span4
                  %aside#text-4.widget.widget_text
                    %h1 About Us
                    %hr
                      .textwidget
                        %p Introducing a premium HTML5  CSS3 template for multipurpose use. Responsive layout, professional design  lots of features.
                        %p Made with love by WowThemes.net.
                        %p.footerlogo
                          Biscaya
                .span4
                  %aside#text-3.widget.widget_text
                    %h1 Testimonials
                    %hr
                      .textwidget
                        %p Introducing a premium HTML5  CSS3 template for multipurpose use. Responsive layout, professional design  lots of features.
                        %p Made with love by WowThemes.net.
                        %p.footerlogo
                          Biscaya
                .span4
                  %aside#text-5.widget.widget_text
                    %h1 Business Hours
                    %hr
                      .textwidget
                        %p Our support Hotline is available 24 Hours a day: (888) 252 389 3571
                        %ul
                          %li Monday - Friday: 	9am to 5pm
                          %li Saturday: 	10am to 2pm
                          %li Sunday: 	Closed
          .footerbottom.footerbottomdark
            .container
              .row-fluid
                .span4.smallspacetop
                  %p.smaller
                    %span.copyright
                    Copyright 2013 Biscaya. Be nice.
                .span8.smallspacetop
                  .pull-right.smaller
                    %ul#menu-footer.footermenu
                      %li#menu-item-49.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-10.current_page_item.menu-item-49
                        %a{:href => "http://www.wowthemes.net/demo-biscaya/"} Home
                      %li#menu-item-247.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-247
                        %a{:href => "http://www.wowthemes.net/demo-biscaya/interface/"} Elements
                      %li#menu-item-48.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-48
                        %a{:href => "http://www.wowthemes.net/demo-biscaya/about-us/"} About Us
                      %li#menu-item-47.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-47
                        %a{:href => "http://www.wowthemes.net/demo-biscaya/services/"} Services
                      %li#menu-item-246.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-246
                        %a{:href => "http://www.wowthemes.net/demo-biscaya/default-contact/"} Contact
                  .clearfix
