!!!
/
  Generated on {{ site.time }}, using Jekyll, Haml, Sass, CoffeeScript.
  Source of this website can be found on https://github.com/qnn/hotelsafe.cn
%html.no-js
  %head
    %meta{ charset: "UTF-8" }
    %title {% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    {% stylesheet application %}
    {% javascript application %}
  %body.home.page.page-id-10.page-template.page-template-template-home-php.boxed.group-blog
    .body
      #page.hfeed.site
        %header#masthead.site-header{:role => "banner"}
          .container.clearfix
            .row-fluid
              .span12
                %h1.brandlogo
                  %a{:href => "http://www.hotelsafe.cn/", :rel => "home", :title => "全能保险柜酒店工程官网"}
                    %img{:alt => "全能保险柜酒店工程官网", :src => "http://www.hotelsafe.cn/assets/images/qnn-logo.png"}/
                .topinfo
                  %ul.social-icons.list-soc
                    %li
                      %a.icon-qnn{:href => "http://www.qnnsafe.com/", :target => "_blank"}
                    %li
                      %a.icon-zs{:href => "http://www.qnnsafe.com.cn/", :target => "_blank"}
                    %li
                      %a.icon-wb{:href => "http://weibo.qnnsafe.com/", :target => "_blank"}
                    %li
                      %a.icon-weixin{"data-toggle" => "modal", :href => "#weixin-modal"}
                  .infophone
                    %i.icon-phone
                    TEL: +86 0757-22308189
                  .infoaddress
                    广东省佛山市顺德区大良街道凤翔工业区德翔路8号
                .clearfix
                .row-nav.navbar
                  .navbar-inner
                    %ul#menu-header.nav
                      %li{ class: "{% if page.belongs_to == '/' %}active{% endif %}" }
                        %a{:href => "{{ site.www.hotelsafe.cn }}/"} 首页
                      %li{ class: "{% if page.belongs_to == 'about' %}active{% endif %}" }
                        %a{:href => "{{ site.www.hotelsafe.cn }}/about/"} 全能简介
                      %li{ class: "{% if page.belongs_to == 'products' %}active{% endif %}" }
                        %a{:href => "{{ site.www.hotelsafe.cn }}/products/"} 常规产品
                      %li{ class: "{% if page.belongs_to == 'cases' %}active{% endif %}" }
                        %a{:href => "{{ site.www.hotelsafe.cn }}/cases/"} 客户案例
                      %li{ class: "{% if page.belongs_to == 'contact' %}active{% endif %}" }
                        %a{:href => "{{ site.www.hotelsafe.cn }}/contact/"} 联系我们
        .menushadow
        {{ content }}
        #weixin-modal.modal.hide.fade
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h3 扫描微信二维码添加全能微信服务号
          .modal-body
            .weixinqrcode
              %img{src: "/assets/images/weixin_qrcode.png"}/
          .modal-footer
            %a.btn.btn-square{"data-dismiss" => "modal"} 关闭
        %footer#colophon.site-footer{:role => "contentinfo"}
          .footer.footerdark
            .text-center.wraptotop
              %a.totop
                %i.icon-chevron-up
            .container
              .row-fluid
                .span4
                  %aside#text-4.widget.widget_text
                    %h1 全能简介
                    %hr
                      .textwidget
                        %p 广东安能保险柜制造有限公司是以从事保险柜(箱)等安防产品为主的现代化企业，配备了独立的研发中心、检测中心、寿命实验室，具有世界领先的制造设备和工艺流程，产品涉及家用保险柜、文件保密柜、酒店客房保险箱、枪弹柜、金库门等多个系列，年生产规模超过30万台。
                .span4
                  %aside#text-3.widget.widget_text
                    %h1 客户案例
                    %hr
                      .textwidget
                        %p 希尔顿酒店
                        %p 喜来登酒店
                        %p 温德姆酒店
                        %p 
						  %a{:href => "{{ site.www.hotelsafe.cn }}/cases//cases/jxyt-howard-johnson.html"} 江西鹰潭豪生酒店
                .span4
                  %aside#text-5.widget.widget_text
                    %h1 联系我们
                    %hr
                      .textwidget
                        %p 广东安能保险柜制造有限公司
                        %p 地址：广东佛山顺德大良凤翔工业区德翔路8号
                        %p 电话: 0757-22308189
                        %p E-mail：78739868@qq.com
          .footerbottom.footerbottomdark
            .container
              .row-fluid
                .span4.smallspacetop
                  %p.smaller
                    %span.copyright
                    © 1999-2013 广东安能保险柜制造有限公司
                .span8.smallspacetop
                  .pull-right.smaller
                    %ul#menu-footer.footermenu
                      %li#menu-item-49.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-10.current_page_item.menu-item-49
                        %a{:href => "http://www.miitbeian.gov.cn/"} 粤ICP备12015444号-51
                      %li#menu-item-49.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-10.current_page_item.menu-item-49
                        %a{:href => "http://www.hotelsafe.cn/Sitemap.xml"} Sitemap
                      %li#menu-item-49.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-10.current_page_item.menu-item-49
                        %a{:href => "http://www.8html.com/"} 网站建设维护与优化：8HTML
                  .clearfix
