---
layout: default
---
.container.site-content
  .container
    .row-fluid
      #primary
        %div{role: "main"}
          %article
            %header.entry-header.sectiontitlepost
              %h1.entry-title {{ page.name }}
            .headerdivider
            .entry-content
              .row-fluid
                .span6
                  %div{style: "height: 10px"}
                  .flexslider
                    %ul.slides.clearfix
                      %li
                        %img{alt: "slide", src: "{{ page.image }}", width: "458"}/
                .span6
                  %p {{ content }}
